<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    <div class='row'>
      <div class="h-100 p=5 text-white bg-dark border rounded-3 text-center">
        <br>
        <br>
        <h1>Stay up to date with Mars!</h1>
        <p>(Sorry, John.)</p>
        <p><a class="btn btn-danger btn-lg" href="/scrape" role="button">Lauch!
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
          <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
          </svg></a>
        </p>
        <br>
        <br>
      </div>
    </div>

    <br>
    <br>
    
    <div class="row">
      <!-- Lastest News Stories (3) -->
      <div class="col-md-6">
        <h2>Lastest Mars News</h2>
          {% for story in mars.articles %}
          <div class="card bg-light border-danger mb-3">
            <div class="card-body">
              <h5 class="card-header"><b>{{ story.headline}}</b></h5>
              <p class="card-text">{{ story.tagline }}</p>
            </div>   
          </div>
          {% endfor %}
      </div>

      <div class="col-md-6">
        <h2>Featured Image of the Day</h2>
        <div class="card">
          <img src="{{ mars.featured_img_url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Check out the latest images from Mars.</p>
          </div>
        </div>
        
        <br>
        <div class="table" width = "100%">
            {{ mars.table|safe }}
        </div>
      </div>

    </div>


    <div class='row'>
      {% for hemi in mars.hemispheres %}
      <div class="col-md-3">
          <div class="card text-white bg-danger">
            <img src="{{ hemi.image_src }}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h4 class="card-title">{{ hemi.title }}</h4>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
   

  </div>
</body>

<footer>
  <div class="alert alert-light text-center" role="alert">
    <p>Website Created by <a href="mailto:tay.lyons@hotmail.com">Taylor Lyons</a><br>
    </p>
  </div>
</footer>

</html>